### DESAFIO 1

Vamos praticar o uso da visualização de tabelas através do Pandas. Para a prática, vamos utilizar outro conjunto de dados que está disponível para download: loja_livro_filmes.csv.

Nele, temos um relatório de custos de venda de livros e filmes de uma loja. Durante os desafios, a missão será trabalhar com os dados para fazer tabelas que podem se adequar a necessidade de diversas análises que podem ser feitas da loja. Para um melhor entendimento dos dados, abaixo está o que representa cada dado nas colunas.

pais: país de destino do produto.
id_cliente: código de identificação do cliente solicitante.
data_pedido: data de solicitação do produto por parte do cliente.
data_chegada: data de chegada do produto ao endereço de entrega informado pelo cliente.
tipo_compra: categoria que se enquadra a compra, podendo ser Normal ou Devolução.
numero_pedido: código de identificação da compra realizada.
tamanho_pacote: tamanho do pacote para envio do pedido.
unidades: quantidade de unidades compradas no pedido.
custo_empacotamento: valor do custo da loja para empacotar o produto.
custo_envio: valor do custo da loja para enviar o produto.
tipo_desconto: categoria do tipo de desconto aplicado.
categoria: categoria de tipo de produto.
tipo_consumo: nível de consumo do produto por tempo de uso.
tipo_cliente: categoria de tipo de cliente.
custo_produto: valor total do custo que o pedido resulta para a loja.
O primeiro desafio é construir uma visualização que permita identificar quais países mais solicitaram produtos por pedidos para que assim possa ser feito um estudo quanto a distribuição e logística de produtos.

Caso precise de ajuda, uma opção de solução da atividade estará disponível na seção “Opinião da pessoa instrutora”.

In [120]:
import pandas as pd
df = pd.read_csv("loja_livro_filmes.csv")
df.head()

,pais,id_cliente,data_pedido,data_chegada,tipo_compra,numero_pedido,tamanho_pacote,unidades,custo_empacotamento,custo_envio,tipo_desconto,categoria,tipo_consumo,tipo_cliente,custo_produto
0,Argentina,111962928,2002-02-15,2002-03-10,Normal,98091426,Pacote pequeno,1,3.0,5.99,Sem desconto,BlueRay,Alto Consumo,B2C,8.99
1,Argentina,145148150,2004-11-05,2004-11-26,Normal,98087803,Pacote pequeno,3,1.0,6.99,Sem desconto,BlueRay,Alto Consumo,B2C,7.99
2,Argentina,194622983,2014-09-14,2014-09-28,Normal,98072296,Pacote pequeno,1,3.0,6.99,Sem desconto,BlueRay,Alto Consumo,B2C,9.99
3,Argentina,220834258,2011-07-20,2011-07-30,Devolução,98077986,Pacote pequeno,2,1.0,3.86,Cyber Monday,BlueRay,Alto Consumo,B2B,4.86
4,Argentina,220834258,2013-09-15,2017-02-15,Normal,98074234,Pacote pequeno,1,2.0,4.88,Black Friday,BlueRay,Alto Consumo,B2B,6.88

In [121]:
df_paises = df.groupby('pais')['unidades'].sum().nlargest(10)
df_paises = df_paises.reset_index()
df_paises

        pais  unidades
0  Argentina      5591
1    Equador      5566
2   Paraguai      5564
3       Peru      5550
4  Venezuela      5529
5   Colômbia      5504
6     Brasil      5473
7    Uruguai      5377
8      Chile      5304

In [122]:
df_paises.columns = ['País','Unidades']
df_paises['Ranque'] = df_paises.index + 1
df_paises.set_index('Ranque', inplace = True)
df_paises

             País  Unidades
Ranque
1       Argentina      5591
2         Equador      5566
3        Paraguai      5564
4            Peru      5550
5       Venezuela      5529
6        Colômbia      5504
7          Brasil      5473
8         Uruguai      5377
9           Chile      5304

In [123]:
s_paises = df_paises.style
s_paises.format({'Unidades': '{} produtos'})
s_paises

### DESAFIO 2

Aprendemos a construir uma visualização capaz de destacar elementos através de algumas funções built-in. E, nesse desafio, podemos aplicar algumas dessas funções.

O objetivo desse desafio é construir uma visualização que permita identificar quais categorias de produto geraram mais e menos custos para a loja.

Lembrando que, para dar continuidade ao desafio, você precisa ter feito o download do conjunto de dados loja_livro_filmes.csv. O dicionário de dados que descreve esse conjunto está disponível no desafio da aula 1.

Caso precise de ajuda, uma opção de solução da atividade estará disponível na seção “Opinião da pessoa instrutora”.

In [124]:
df_categoria = df.groupby('categoria')[['custo_produto']].sum()
df_categoria.index.name = 'Categoria produto'
df_categoria.columns = ['Custo do produto']
df_categoria

                   Custo do produto
Categoria produto
BlueRay                    14191.36
CD                         10514.28
Coleção                    73128.59
Livro                      78213.80

In [125]:
estilo_categoria = df_categoria.style
estilo_categoria.format('R$ {:,.2f}').highlight_max(color = '#F16265').highlight_min(color = 'lightgreen')

### DESAFIO 3

Aprendemos a adicionar uma visualização gráfica na nossa tabela através da função bar. Nesse desafio, podemos aplicar essa função para treinarmos a construção da visualização com adição gráfica de uma forma bem similar ao que fizemos na aula.

O desafio é construir uma visualização que permita informar a quantidade e distribuição de pedidos por tipo de desconto. Isso irá permitir que os setores da empresa entendam a demanda de produtos em cada ação promocional.

Lembrando que, para dar continuidade ao desafio, você precisa ter feito o download do conjunto de dados loja_livro_filmes.csv. O dicionário de dados que descreve esse conjunto está disponível no desafio da aula 1.

Caso precise de ajuda, uma opção de solução da atividade estará disponível na seção “Opinião da pessoa instrutora”.

In [126]:
df_desconto = pd.DataFrame(df['tipo_desconto'].value_counts())
df_desconto.columns = ['Quantidade']
df_desconto.index.name = 'Tipo desconto'
df_desconto

               Quantidade
Tipo desconto
Sem desconto        13347
Cyber Monday         6922
Black Friday         1986
Liquidação           1487
Data especial        1148

In [127]:
df_desconto['Distribuicao'] = df_desconto['Quantidade'].apply(lambda x: (x / df_desconto['Quantidade'].sum() * 100))
df_desconto

               Quantidade  Distribuicao
Tipo desconto
Sem desconto        13347     53.623945
Cyber Monday         6922     27.810366
Black Friday         1986      7.979108
Liquidação           1487      5.974287
Data especial        1148      4.612294

In [128]:
estilo_desconto = df_desconto.style

cabecalho = {
    'selector': 'th',
    'props': 'font-weight: bold; font-family: Arial; text-align: right; background-color: white; color: black;'
}

celulas = {
    'selector': 'td',
    'props': 'background-color: white; color: black;'
}

estilo_desconto.set_table_styles([cabecalho, celulas], overwrite = False)

In [129]:
estilo_desconto.format({'Distribuicao': '{:.2f} %'})\
             .bar(subset = 'Distribuicao', vmin = 0, vmax = 100.0, color = '#9CD33B')

### DESAFIO 4

Durante a aula, aprendemos a lidar com muitos dados em uma tabela através da fixação de coluna pelo método set_sticky. Vamos lidar com muitos dados nesse desafio para podermos fixar o conteúdo aprendido.

Nosso desafio agora é fornecer uma visualização que permita mostrar o tempo médio de entrega de pedidos durante os meses dos anos de 2013 a 2015 por cada país. Isso vai permitir analisar o desempenho da parte de transportes da empresa durante os anos e traçar um planejamento de melhorias.

Lembrando que, para dar continuidade ao desafio, você precisa ter feito o download do conjunto de dados loja_livro_filmes.csv. O dicionário de dados que descreve esse conjunto está disponível no desafio da aula 1.

Caso precise de ajuda, uma opção de solução da atividade estará disponível na seção “Opinião da pessoa instrutora”.

In [130]:
df_data = df.copy()
df_data['data_pedido'] = pd.to_datetime(df_data['data_pedido'])
df_data['data_chegada'] = pd.to_datetime(df_data['data_chegada'])

df_data = df_data.sort_values('data_pedido')
df_data = df_data.query('data_pedido >= "2013-01-01"')
df_data['meses'] = df_data['data_pedido'].dt.strftime('%Y - %b')
df_data['tempo_entrega'] = (df_data['data_chegada'] - df_data['data_pedido']).dt.days
df_data

,pais,id_cliente,data_pedido,data_chegada,tipo_compra,numero_pedido,tamanho_pacote,unidades,custo_empacotamento,custo_envio,tipo_desconto,categoria,tipo_consumo,tipo_cliente,custo_produto,meses,tempo_entrega
23756,Chile,318601696,2013-01-01,2013-01-17,Normal,98075481,Pacote pequeno,3,1.0,4.73,Sem desconto,Livro,Alto Consumo,B2B,5.73,2013 - Jan,16
7376,Uruguai,405991354,2013-01-01,2016-11-27,Devolução,98075486,Pacote grande,1,3.0,5.84,Liquidação,Coleção,Alto Consumo,B2C,8.84,2013 - Jan,1426
22833,Chile,356602040,2013-01-01,2013-01-11,Normal,98075484,Pacote pequeno,2,3.0,6.12,Black Friday,Livro,Baixo Consumo,B2C,9.12,2013 - Jan,10
1066,Chile,405991354,2013-01-02,2013-01-21,Normal,98075479,Pacote pequeno,2,3.0,5.75,Data especial,BlueRay,Alto Consumo,B2C,8.75,2013 - Jan,19
7525,Uruguai,619383446,2013-01-02,2013-01-22,Devolução,98075482,Pacote grande,3,3.0,3.58,Sem desconto,Coleção,Alto Consumo,B2C,6.58,2013 - Jan,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7512,Uruguai,605633342,2015-12-14,2015-12-28,Normal,98069382,Pacote grande,3,1.0,5.33,Sem desconto,Coleção,Alto Consumo,B2B,6.33,2015 - Dec,14
2906,Peru,111962928,2015-12-15,2016-01-03,Normal,98069376,Pacote grande,1,1.0,5.99,Sem desconto,CD,Baixo Consumo,B2C,6.99,2015 - Dec,19
17082,Equador,758679810,2015-12-15,2016-01-04,Normal,98069373,Pacote pequeno,3,1.0,3.55,Cyber Monday,Livro,Baixo Consumo,B2C,4.55,2015 - Dec,20
23611,Brasil,436608095,2015-12-15,2015-12-26,Devolução,98069377,Pacote pequeno,1,3.0,3.20,Sem desconto,Livro,Alto Consumo,B2B,6.20,2015 - Dec,11
5443,Colômbia,667298873,2015-12-15,2016-01-02,Normal,98069374,Pacote grande,2,1.0,3.20,Sem desconto,Coleção,Alto Consumo,B2C,4.20,2015 - Dec,18

In [131]:
entregas = df_data.pivot_table(index = 'pais', columns = 'meses', values = 'tempo_entrega',
                              aggfunc = 'mean', sort = False)
entregas

meses,2013 - Jan,2013 - Feb,2013 - Mar,2013 - Apr,2013 - May,2013 - Jun,2013 - Jul,2013 - Aug,2013 - Sep,2013 - Oct,...,2015 - Mar,2015 - Apr,2015 - May,2015 - Jun,2015 - Jul,2015 - Aug,2015 - Sep,2015 - Oct,2015 - Nov,2015 - Dec
pais,,,,,,,,,,,,,,,,,,,,,
Chile,90.210526,341.235294,470.111111,351.700000,195.545455,99.733333,307.230769,207.923077,321.062500,137.700000,...,606.280000,424.064516,423.428571,353.826087,432.642857,447.473684,314.111111,502.290323,406.920000,254.909091
Uruguai,180.882353,201.266667,146.523810,251.058824,12.500000,555.250000,217.789474,161.823529,117.333333,90.000000,...,231.840000,395.695652,502.352941,360.043478,349.481481,280.590909,346.000000,453.333333,434.125000,184.416667
Venezuela,216.047619,267.500000,219.400000,221.538462,180.875000,315.769231,282.416667,393.400000,405.157895,187.142857,...,307.562500,619.318182,413.482759,442.909091,443.086957,236.684211,258.384615,327.423077,271.105263,187.750000
Argentina,321.913043,314.214286,356.000000,481.173913,346.416667,309.318182,351.894737,171.750000,342.200000,149.388889,...,324.666667,467.695652,264.590909,529.888889,374.680000,506.900000,437.333333,299.178571,317.960000,293.125000
Equador,718.812500,16.928571,80.666667,206.214286,178.375000,233.000000,317.882353,252.238095,205.384615,479.153846,...,338.862069,277.608696,440.347826,566.526316,279.642857,425.280000,337.296296,238.416667,335.052632,151.000000
Colômbia,339.461538,293.066667,328.846154,136.727273,580.142857,211.050000,377.928571,643.800000,139.300000,570.000000,...,452.520000,328.941176,433.173913,438.862069,399.000000,433.913043,435.480000,462.631579,149.952381,393.777778
Brasil,238.736842,520.545455,406.642857,382.636364,454.866667,232.250000,181.217391,266.133333,272.458333,213.666667,...,431.157895,432.068966,375.541667,222.555556,310.941176,455.692308,392.791667,394.181818,391.483871,241.500000
Paraguai,216.857143,384.733333,495.882353,272.285714,345.208333,263.571429,120.416667,285.285714,506.466667,351.666667,...,510.650000,372.718750,463.722222,354.541667,607.217391,405.354839,261.521739,354.650000,203.300000,107.250000
Peru,283.476190,379.052632,436.153846,193.466667,167.529412,216.076923,333.333333,371.071429,280.928571,319.375000,...,470.481481,393.833333,499.640000,332.812500,330.580645,556.277778,471.400000,204.705882,325.764706,323.090909

In [132]:
estilo_entregas = entregas.style
estilo_entregas.format('{:.2f}')
estilo_entregas.set_sticky(axis = 'index')

In [133]:
colunas = {
    'selector': '.col_heading',
    'props': 'font-weight: normal; font-family:Arial'
}

tabelas = {
    'selector': 'th, td',
    'props': 'text-align: left'
}

index = {
    'selector': '.index_name',
    'props': 'font-weight: bold; font-family: Arial; text-align: right'
}

estilo_entregas.set_table_styles([colunas, tabelas, index], overwrite = False)

In [134]:
df_rename = df.rename(columns = {'pais' : 'Custo por país ($)'})

df_custo_total = df_rename.pivot_table(index = ['tipo_cliente', 'categoria'], columns = 'Custo por país ($)', values = 'custo_produto', aggfunc = 'sum')
df_custo_total.rename_axis(index = {'tipo_cliente': 'Tipo Cliente', 'categoria': 'Categoria Produto'}, inplace = True)
df_custo_total['Total'] = df_custo_total.sum(axis = 1)

df_custo_total

Custo por país ($)              Argentina   Brasil    Chile  Colômbia  \
Tipo Cliente Categoria Produto
B2B          BlueRay               488.23   552.31   521.31    538.39
             CD                    344.74   449.66   350.58    422.22
             Coleção              2824.31  2899.26  2939.29   2823.34
             Livro                3150.77  2751.26  2809.13   2987.06
B2C          BlueRay              1027.85  1007.18   992.12   1062.35
             CD                    785.63   860.71   620.83    668.12
             Coleção              5587.93  5053.64  5162.34   5253.09
             Livro                5865.62  5957.59  5718.97   5781.46

Custo por país ($)              Equador  Paraguai     Peru  Uruguai  \
Tipo Cliente Categoria Produto
B2B          BlueRay             473.88    596.74   727.11   580.81
             CD                  396.15    341.49   388.17   495.02
             Coleção            2747.09   2492.20  2912.78  2548.28
             Livro              3229.24   3161.33  3092.14  2872.69
B2C          BlueRay            1004.99   1095.01  1079.54   873.96
             CD                  666.49    867.01   788.82   795.89
             Coleção            5583.83   5759.34  5159.96  4961.45
             Livro              5438.32   5543.30  5678.06  5809.63

Custo por país ($)              Venezuela     Total
Tipo Cliente Categoria Produto
B2B          BlueRay               476.67   4955.45
             CD                    415.60   3603.63
             Coleção              2969.67  25156.22
             Livro                2721.60  26775.22
B2C          BlueRay              1092.91   9235.91
             CD                    857.15   6910.65
             Coleção              5450.79  47972.37
             Livro                5645.63  51438.58

In [135]:
custo_total_estilo = df_custo_total.style.format('$ {:,.2f}')
custo_total_estilo

In [138]:
tabela = {
    'selector': 'td, th:not(.index_name)',
    'props': 'font-weight: normal; font-family: Arial; text-align: center; background-color: white'
}

index = {
    'selector': '.index_name',
    'props': 'font-weight: normal; font-style: italic; text-align: right; color: #696969' 
}

custo_total_estilo.set_table_styles([tabela, index])

In [142]:
custo_total_estilo.set_table_styles({
    ('B2B', 'BlueRay'): [{'selector': 'th', 'props': 'border-top: 1px solid #181818'},
              {'selector': 'td', 'props': 'border-top: 1px solid #181818'}],
    ('B2B', 'Livro'): [{'selector': 'th', 'props': 'font-weight: bold'}],
    ('B2C', 'Livro'): [{'selector': 'th', 'props': 'font-weight: bold'}],
}, overwrite = False, axis = 1)

In [147]:
custo_total_estilo.set_table_styles({
    'Total': [{'selector': '.true', 'props': 'background-color: #D8D8D8'}]
}, overwrite = False, axis = 0)

cores_coluna = pd.DataFrame(['false', 'false', 'false', 'true'] * 2, index = df_custo_total.index, columns = ['Total'])
                                                                                                             
custo_total_estilo.set_td_classes(cores_coluna)